body {padding-top:70px;}
h1 {font-size:18px; line-height:22px; padding-bottom:1em;}
h1 span {font-size:14px; font-weight:400; color:#0088cc;}

.item {border-bottom:1px solid #ddd; padding:1.4em 0; cursor:pointer;}
.item:hover {background:#ddd;}
.selected {background:#c1d9c5; border-color:#fff;}
.selected:hover {background:#ccc;}

.retweet {padding:15px 20px 13px; margin-top:10px; background:#e6e6e6;}

.bottom_ctrl {padding-top:1em;}

#del_btn {position:fixed; top:15em; right:10em;}
#del_form {display:none;}
.pagination {text-align:center;}

.footer {border-top:1px solid #e5e5e5; margin-top:15px; padding:25px 0 26px; text-align:center; color:#555;}

.auth {text-align:center; min-height:400px; height:auto !important; height:400px;}
.auth h1 {margin-bottom:100px;}

.success, .error {padding:.8em; margin-bottom:1em; border:2px solid #ddd; text-align:center; font-size:1.2em;}
.success {background:#e6efc2; color:#264409; border-color:#c6d880;}
.error {background:#fbe3e4; color:#8a1f11; border-color:#fbc2c4;}
