body {padding-top:70px;}
h1 {font-size:18px; line-height:22px; padding-bottom:1em;}

.item {border-bottom:1px solid #aaa; padding:10px 0; cursor:pointer;}
.item:hover {background:#e6e6e6; border:none;}

#del_btn {position:fixed; top:15em; right:10em;}
